<!doctype html>
<html lang="en">
  <head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- custom bootstrap -->
    <link href="{%static 'dashboard.css'%}" rel="stylesheet">
    <link href="{%static 'sticky-footer.css'%}" rel="stylesheet">
<!--     <link rel="icon" href="demo_icon.gif" sizes="16x16"> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
       
        }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <title>A-CET</title>
  </head>
  <body onload="">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{%url 'home'%}">A-CET Computers</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav px-3">
        {%if user.is_authenticated%}
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{%url 'logout'%}">{{user.username}}</a>
        </li>
        {%else%}
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{%url 'login'%}">LogIn</a>
        </li>
        {%endif%}
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse sidebar-dark" style="text-decoration-color: white;">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              {%if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link " href="{%url 'home'%}">
                 
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  EntryBook
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{%url 'laptop_entry'%}">Laptop Entry</a>
                  <a class="dropdown-item" href="{%url 'desktop_entry'%}">Desktop Entry</a>
                  <a class="dropdown-item" href="{%url 'recovery_entry'%}">Recovery Entry</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'inquery'%}">
                  Inquery
                </a>
              </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Components/Acessories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Acessories/Parts</a>
                  <a class="dropdown-item" href="#">Electronic Components</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'home1'%}">
                  Components
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'show_order'%}">
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'view_staff'%}">
                  <span data-feather="bar-chart-2"></span>
                  Our Staff
                </a>
              </li>
       
          {%else%}
             
             
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                 
                </a>
              </li>
              {%endif%}
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>User Profile</span>
            </h6>

            {%if user.is_authenticated%}
            <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <a class="nav-link" href="{%url 'update_user'%}">
        
                  Update Profile
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{%url 'change_password'%}">
             
                 Change Password
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{%url 'logout'%}">
                  
                  Log Out
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'register_user'%}">
                  <span data-feather="file-text"></span>
                  Add New Staff
                </a>
              </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'login'%}">
                  <span data-feather="file-text"></span>
                 Log In
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{%url 'register_user'%}">
                  <span data-feather="file-text"></span>
                  Create Account
                </a>
              </li> -->
              {%endif%}
            </ul>
          </div>
        </nav>



      </div>
    </div>
   <!-- <div class="container">
      {%if messages%}
        {%for message in messages%}
        <div class="alert alert-warning alert-dismissible alert-primary fade show" role="alert">
   {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
 
        </div>
        {%endfor%}
        {%endif%} -->
    

      {%block content%}


      {%endblock%}
      
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{%static 'dashboard.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
   
  </body>
</html>