{%extends 'entrybook/base.html'%}

{%block content%}

<h2 class="text-center mt-4">Change password </h2>
<div class="col-md-6 offset-md-3 pt-5">
	<form method="POST" action="{%url 'change_password'%}">
		{%csrf_token%}

{%if form.errors%}
 
        <div class="alert alert-warning alert-dismissible alert-primary fade show" role="alert">
	

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
 <p>error in form</p>
 {%for field in form%}
 	{%if field.errors%}
 		{{field.errors}}
 	{%endif%}
 	{%endfor%}
        </div>

        {%endif%}
	
	{{form.as_p}}
	  <button type="submit" class="btn btn-primary">Change Password</button>



		
	</form>
</div>

{%endblock%}