{%extends 'entrybook/base.html'%}
 
{%block content%}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-2">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">
      <h1 class="h2">{{title}}</h1>
      <a href="{%url 'input_desktop_entry'%}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">New Entry</a>

    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">SN</th><th scope="col">Entry Number</th><th scope="col">Date</th>
            <th scope="col">Customer Name</th><th scope="col">Contact</th><th scope="col">Device</th>
            <th scope="col">Solution</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {%for entry in entrybook.all%}
        <tbody>
          <tr>
            <th>{{forloop.counter}}</th>
            <td>{{entry.entry_number}}</td>
            <td>{{entry.entry_date}}</td>
            <td>{{entry.customer_name}}</td>
            <td>{{entry.contact}}</td>
            <td>{{entry.device_name}}</td>
            <td>{{entry.solution}}</td>
            <td>{{entry.status}}</td>
            <td align="center"><li class="btn btn-secondary btn-sm "><a href="{%url 'home1'%}">Update</a> </li></td>

          </tr>
        </tbody>
        {%endfor%}
      </table>
    </div>
  </main> 




{%endblock%}