{%extends 'entrybook/base.html'%}
 
{%block content%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-2">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">
    <h1 class="h2">{{title}}</h1>
  </div> 
  <!-- messages for error or success -->
  <div class="container">
    {%if messages%}
      {%for message in messages%}
      <div class="alert alert-warning alert-dismissible alert-primary fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endfor%}
    {%endif%}  
  </div>
  <form method="POST" action="{%url 'input_desktop_entry'%}" enctype="multipart/formdata">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEntryNumber">Entry Number</label>
        <input type="text" class="form-control" id="entry_number" name="entry_number" value="{{new}}" readonly="">
      </div>
      <div class="form-group col-md-4">
        <label for="inputDate">Date</label>
        <input type="text" class="form-control" id="dates" name="dates"value="{{dates}}" readonly="">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCustomerName">Customer Name</label>
        <input type="text" class="form-control" id="customer_name" placeholder="Enter Customer Name"name='customer_name'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Address"name='address'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress2">Contact</label>
        <input type="text" class="form-control" id="contact" placeholder="Enter contact" name="contact">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="device_name">Device Name</label>
        <select id="device_name" class="form-control" placeholder='Select device' name="device_name">
          <option selected>Motherboard</option>
          <option selected>Full CPU</option>
          <option selected>SMPS</option>
          <option selected>Printer</option>
          <option selected>Full CPU</option>
          <option selected>Cartridge</option>
          <option selected>Other Device</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <label for="device_detail">Device Detail</label>
        <input type="text" class="form-control" id="device_detail" name="device_detail">
      </div>
    </div>
    <div class="form-group col-md-10">
      <label for="problem">Problem</label>
      <input type="text" class="form-control" id="problem" name="problem">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="technician">Technician</label>
        <select id="technician" class="form-control" name="technician">
          {%for staff in staff.all%}
          <option selected>{{staff.username}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main> 




{%endblock%}